/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */

/* @group Base */
/* line 7, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  user-select: none;
}
/* line 13, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container * {
  box-sizing: border-box;
}
/* line 16, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  display: none;
}
/* line 27, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  display: block;
}
/* line 30, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container a {
  cursor: pointer;
}
/* line 35, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
/* line 42, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
/* line 54, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
/* line 71, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single input[type="text"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
/* line 77, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-default {
  color: #999;
}
/* line 80, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 87, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
/* line 90, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}
/* line 99, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
/* line 103, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
/* line 106, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
/* line 113, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("chosen-sprite.png") no-repeat 0px 2px;
}
/* line 120, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
/* line 127, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: url("chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
/* line 141, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
/* line 146, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* @end */
/* @group Results */
/* line 154, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
/* line 163, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
/* line 171, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
/* line 175, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
/* line 180, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
/* line 185, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
/* line 190, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
/* line 195, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
/* line 198, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
/* line 208, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text;
}
/* line 220, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
/* line 223, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 227, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  width: 25px;
}
/* line 243, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
/* line 259, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
/* line 262, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}
/* line 271, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
/* line 276, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  color: #666;
}
/* line 283, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
/* line 285, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
/* line 290, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
/* line 294, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
/* line 304, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 309, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: linear-gradient(#eee 20%, #fff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
/* line 318, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
/* line 321, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
/* line 326, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 329, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
/* line 337, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
/* line 340, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}
/* line 343, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
/* line 350, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl {
  text-align: right;
}
/* line 352, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
/* line 356, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
/* line 361, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
/* line 364, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
/* line 368, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
/* line 372, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}
/* line 374, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
/* line 377, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
/* line 380, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
/* line 386, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
/* line 390, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
/* line 394, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
/* line 397, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}
/* line 403, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
/* line 407, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 418, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen-base.scss */
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
/* line 9, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container {
  user-select: none;
}
/* line 11, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container * {
  box-sizing: border-box;
}

/* line 17, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-single .chosen-single {
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
}
/* line 20, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-single .chosen-search {
  background: url("chosen-sprite.png") no-repeat 100% -20px;
}

/* line 27, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container .chosen-results li.highlighted {
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
}

/* line 34, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-multi .chosen-choices {
  background-image: linear-gradient(#eee 1%, #fff 15%);
}
/* line 38, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
/* line 41, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

/* line 49, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: linear-gradient(#eee 20%, #fff 80%);
}

/* line 56, /Users/dpb/.gem/ruby/2.3.6/gems/chosen-rails-1.8.3/vendor/assets/stylesheets/chosen.scss */
.chosen-rtl .chosen-search input[type="text"] {
  background: url("chosen-sprite.png") no-repeat -30px -20px;
}
/* line 5, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#group_user_ids {
  width: 400px;
}

/* line 9, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter {
  padding-bottom: 30px;
}
/* line 13, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter label,
#filter input {
  display: block;
  float: left;
  width: 200px;
}
/* line 20, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter label {
  width: 30px;
  padding: 8px 8px 8px 0px;
  text-align: right;
}
/* line 26, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter br {
  clear: left;
}
/* line 30, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .filter_section {
  padding: 8px 8px 8px 0px;
}
/* line 34, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .padded {
  border: 1px solid black;
}
/* line 38, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker-trigger {
  vertical-align: middle;
  padding-left: 2px;
  margin-top: -2px;
  padding-top: 4px;
}
/* line 45, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker {
  display: none;
  font-family: Muli, 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 0.9em;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
}
/* line 52, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-header {
  background-color: #CCCCCC;
  padding: 3px 0;
  text-align: center;
  font-weight: 400;
}
/* line 58, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-header .ui-datepicker-prev, #filter .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
  text-indent: -9999px;
}
/* line 65, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 2px;
  background: url(/assets/cal-prev.png);
}
/* line 66, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 2px;
  background: url(/assets/cal-next.png);
}
/* line 69, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-calendar {
  margin: 0 5px 5px;
}
/* line 72, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-calendar td {
  background-color: #EDEDED;
  padding: 0;
  margin: 2px;
  line-height: 1em;
}
/* line 78, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 5px;
  text-align: right;
  line-height: 1em;
}
/* line 86, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-calendar td a.ui-state-hover, #filter .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
  background-color: #FFFDC3;
}
/* line 90, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today {
  background-color: #CCCCCC;
}
/* line 93, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/groups.css.scss */
#filter .ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month {
  background-color: transparent;
}
/* line 13, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 15, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
body {
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  font-family: Muli, 'helvetica neue', helvetica, arial, sans-serif;
  background: #EFEFED;
}

/* line 23, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.container {
  background: #FEFEFE;
  width: 900px;
  margin: 20px auto;
  border: 1px solid #DEDEDC;
  padding: 20px 40px;
}

/* line 31, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
a {
  color: blue;
  text-decoration: none;
}
/* line 34, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
a:hover {
  text-decoration: underline;
}

/* line 37, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
h1, h2 {
  font-weight: 300;
}

/* line 39, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea, select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding: 5px;
  font-size: 1em;
  font-family: Muli, 'helvetica neue', helvetica, arial, sans-serif;
}

/* line 51, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
textarea {
  width: 340px;
}

/* line 55, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
#flash_notice,
#flash_error,
#flash_alert {
  padding: 10px;
}

/* line 61, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
#flash_notice {
  background-color: #CCFFCC;
  border: solid 1px #66CC66;
}

/* line 66, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
#flash_error,
#flash_alert {
  color: #CC3333;
  background-color: #FFEBEB;
  border: solid 1px #DDCACA;
}

/* line 73, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 81, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.field {
  margin: 10px 0;
}
/* line 83, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.field label {
  display: block;
}
/* line 85, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.field label.inline {
  display: inline-block;
}
/* line 87, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.field .hint {
  font-size: 0.8em;
  color: #888888;
}
/* line 92, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.field .field_with_errors label {
  color: #CC3333;
}
/* line 93, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.field .field_with_errors input {
  background: #FFF6F6;
}

/* line 99, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.fancy {
  font-size: 1em;
  color: #fff;
  background: darkblue url(/assets/button-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
/* line 111, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.fancy:hover {
  background-color: blue;
  color: #fff;
  text-decoration: none;
}
/* line 117, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
.fancy:active {
  top: 1px;
}

/* line 120, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header {
  min-width: 982px;
  background: #232323;
  height: 50px;
  color: #AAAAAA;
}
/* line 126, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container {
  width: 980px;
  height: 50px;
  margin: 0 auto;
  font-weight: 300;
}
/* line 133, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container #main-logo {
  float: left;
  display: inline-block;
}
/* line 137, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container a {
  color: #AAAAAA;
}
/* line 139, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container a:hover {
  text-decoration: none;
  color: #EFEFEF;
  text-shadow: 0px -1px 0px #555;
}
/* line 146, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav {
  float: right;
  margin-top: -5px;
}
/* line 149, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav ul#main-nav {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #333333;
  border: 1px solid #111;
  padding: 0;
}
/* line 155, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav ul#main-nav li:first-child a {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 158, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav ul#main-nav li:last-child a {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-right: none;
}
/* line 164, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav ul#main-nav li {
  display: inline-block;
}
/* line 166, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav ul#main-nav li a {
  display: block;
  border-right: 1px solid #232323;
  margin: 0;
  padding: 7px 15px;
}
/* line 175, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav li.hover, header #header-container nav li > a:hover {
  background: #4A4A49;
}
/* line 178, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav li#users-groups-menu {
  position: relative;
}
/* line 180, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav li#users-groups-menu ul#users-groups-nav {
  padding: 0;
  visibility: hidden;
  width: 135px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  border: 1px solid #111;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
}
/* line 191, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav li#users-groups-menu ul#users-groups-nav li {
  display: block;
}
/* line 193, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
header #header-container nav li#users-groups-menu ul#users-groups-nav li a {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* line 202, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
table {
  border-collapse: collapse;
}
/* line 204, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
table th {
  border: 1px solid #111;
  padding: 5px 10px;
  background: #4A4A49;
  color: #EFEFEF;
  text-align: left;
  font-weight: 300;
  margin: 0;
}
/* line 213, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
table tr.odd {
  background-color: #EFEFED;
}
/* line 214, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
table tr.total {
  background-color: #EFEFED;
  font-weight: bold;
}
/* line 218, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
table td {
  padding: 5px 10px;
  border: 1px solid #DFDFDF;
}
/* line 221, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/layout.css.scss */
table td img {
  vertical-align: top;
}
/* line 5, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/users.css.scss */
#new-weight-link {
  overflow: hidden;
}
/* line 6, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/users.css.scss */
#new-weight-link a {
  float: right;
}

/* line 10, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/users.css.scss */
#edit-account {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 11, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/users.css.scss */
#edit-account a {
  float: right;
}

/* line 16, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/users.css.scss */
#delta {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}
/* line 4, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker-trigger {
  vertical-align: middle;
  padding-left: 2px;
  margin-top: -2px;
}

/* line 9, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker {
  display: none;
  font-family: Muli, 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 0.9em;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
}
/* line 16, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-header {
  background-color: #CCCCCC;
  padding: 3px 0;
  text-align: center;
  font-weight: 400;
}
/* line 22, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev, .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
  text-indent: -9999px;
}
/* line 29, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 2px;
  background: url(/assets/cal-prev.png);
}
/* line 30, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 2px;
  background: url(/assets/cal-next.png);
}
/* line 33, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-calendar {
  margin: 0 5px 5px;
}
/* line 36, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-calendar td {
  background-color: #EDEDED;
  padding: 0;
  margin: 2px;
  line-height: 1em;
}
/* line 42, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 5px;
  text-align: right;
  line-height: 1em;
}
/* line 50, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-calendar td a.ui-state-hover, .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
  background-color: #FFFDC3;
}
/* line 54, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today {
  background-color: #CCCCCC;
}
/* line 57, /Users/dpb/Dropbox/Projects/chewbacon/app/assets/stylesheets/weigh_ins.css.scss */
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month {
  background-color: transparent;
}
