// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-weight-link {
  a { float: right; }
  overflow: hidden;
}

#edit-account {
  a { float: right; }
  overflow: hidden;
  margin-bottom: 10px;
}

#weight-chart {
  
}